/* .card {
    border-radius: 10px;
    border: 2px solid rgb(13, 177, 13);
    
  } */

  .footer {
    
    position: relative;
    z-index: 999;
    margin-top: 150px;
  }
  @media (max-width: 1675px) {
    .footer{
      margin-top: 40px;
    }
  }

  #y{
    border-radius: 12px;
  }

  .before{
    margin: 30px;
    
  }
  @media (max-width: 1675px ) {
    .card{
      margin: 40px;
    }
    
  }

  .hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -1350px;
  }
  
  @media (max-width: 1465px) {
    .hero {
      background-position: center center;
    }
  }
  

#contact-card{
  border: 2px solid white;
  height: 350px;
}

#form{
  border: 1px solid white;
  border-radius: 12px;
  height: 350px;
  width: 600px;
}

#map{
  height: 350px;
}

#submit{
  width: 400px;
  margin-top: 10px;
  
}

#about{
  border-radius: 12px;
}

#card-image {
  width: 400px;
  height: 300px;
}

#add{
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-left: 10px;
  
}

#addon{
  border: 1px solid white;
  margin: 10px;
  margin-left: 10px;
}


@media (max-width: 767px) {
  .card.card-side {
    flex-direction: column;
  }

  .card.card-side .card-body {
    order: 2;
  }

  .card.card-side figure {
    order: 1;
    margin-bottom: 20px;
  }
}


